@model TaskInputModel
@{
    ViewData["Title"] = "Create Task";
}
<h1>Create Task</h1>
<form asp-action="Create" method="post">
    <input type="hidden" asp-for="BoardId" />
    <partial name="_TaskForm" model="Model" />
    <button class="btn btn-primary">Create</button>
</form>
