@model IEnumerable<ProjectViewModel>
@{
    ViewData["Title"] = "Projects";
}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>My Projects</h1>
    <a class="btn btn-primary" asp-action="Create">Create Project</a>
</div>
<div class="row">
@foreach (var project in Model)
{
    <div class="col-md-4 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5>@project.Name</h5>
                <p>@project.Description</p>
                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@project.Id">Open</a>
            </div>
        </div>
    </div>
}
</div>
